/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap'); */
@font-face {
  font-family: Oswald;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswald-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/oswald-variablefont_wght-webfont.woff")
      format("woff"),
      url("../fonts/oswald-variablefont_wght.svg")
      format("svg"),
    url("../fonts/oswald-variablefont_wght.ttf")
      format("ttf");
}

a {
  text-decoration: none !important;
  color: white;
  transition: 0.3s all;
}

a:hover {
  color: #dfdfdf;
}

#app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(222, 26, 55, 1), rgba(161, 31, 43, 0.7)),
    url("../img/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

#app .navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

#app .navbar .logo {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background-image: url("../img/logoBlanco.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app .navbar .menu .menu-item {
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
}

#app .navbar .menu .menu-item:hover {
  color: #d1d042;
}

#app .text {
  margin: auto;
  text-align: center;
}

#app .text h1 {
  font-family: Oswald;
  font-weight: normal;
  font-style: normal;
  font-size: 5rem;
  color: #fafafa;
  padding: 2rem 0;
  margin-bottom: 2.5rem;
  border-top: 4px solid #d1d042;
  border-bottom: 4px solid #d1d042;
}

#app .text p {
  color: #ececec;
  margin: 1rem;
  padding-bottom: 30px;
}

.construction {
  font-size: 1.7rem;
  font-weight: 500;
}

#app .text #timer {
  font-size: 1rem;
}

#app .text #timer span {
  color: #d1d042;
  font-size: 3.4rem;
  font-weight: 700;
}

#app .text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  width: 28%;
  color: #de1a37;
  background-color: #d1d042;
  padding: 0.5rem 1.5rem;
}
i {
  font-size: 1.8em;
  margin: 0 0 -1px 10px;
}
#app .text .btn:hover {
  border-color: #fafafa;
}

#app .text .btn:focus {
  outline: none;
  box-shadow: none;
}

#app .copyright {
  font-size: 0.8rem;
  color: #fafafa;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.footer {
  display: flex;
}
/* Media Queries */

@media (max-width: 768px) {
  #app .text h1 {
    font-size: 4rem;
    color: #fafafa;
    padding: 2rem 0;
    margin-bottom: 2.5rem;
    border-top: 4px solid #d1d042;
    border-bottom: 4px solid #d1d042;
  }
  #app .text p {
    margin: 1.5rem 2rem;
  }
  #app .text .btn {
    width: 230px;
  }
}

@media (max-width: 426px) and (max-height: 797px) {
  #app {
    width: 426px;
    height: 850px;
  }
  #app .navbar {
    position: absolute;
    top: 0;
    width: 426px;
  }
  #app .navbar .logo {
    width: 30px;
    height: 30px;
  }
  #app .text h1 {
    font-family: Oswald;
    font-size: 2.5rem;
    color: #fafafa;
    padding: 1rem 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-top: 3px solid #d1d042;
    border-bottom: 3px solid #d1d042;
  }

  #app .text p {
    color: #ececec;
    margin: 2rem;
    padding-bottom: 20px;
  }

  .construction {
    font-size: 1.3rem;
  }

  #app .text #timer {
    font-size: 0.6rem;
  }

  #app .text #timer span {
    font-size: 2.8rem;
  }
  #app .text .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3rem;
    border-radius: 20px;
    width: 80%;
    padding: 0.5rem 1rem;
  }
  #app .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 360px) and (max-height: 570px) {
  #app {
    width: 360px;
    height: 100vh;
  }
  #app .navbar {
    position: absolute;
    top: 0;
    width: 360px;
  }
  #app .navbar .logo {
    width: 30px;
    height: 30px;
  }
  #app .text h1 {
    font-size: 2.3rem;
    color: #fafafa;
    padding: 0.5rem 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-top: 3px solid #d1d042;
    border-bottom: 3px solid #d1d042;
  }

  #app .text p {
    color: #ececec;
    margin: 0.1rem;
    padding-bottom: 20px;
  }

  .construction {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10px;
  }

  #app .text #timer {
    font-size: 0.5rem;
  }

  #app .text #timer span {
    font-size: 2rem;
  }
  #app .text .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3rem;
    border-radius: 20px;
    width: 80%;
    padding: 0.5rem 1rem;
  }
  #app .text .mobile {
    padding: 100px 0rem 0rem 0rem;
  }
  i {
    font-size: 1.8em;
    margin: 0 0 -1px 10px;
  }

  #app .copyright {
    font-size: 0.8rem;
  }
}
